<%- include ("./partials/head.ejs") %>
<div>
  <h2>Add New Kulich</h2>
  <form action="<%= baseUrl %>" method="post" enctype="multipart/form-data">
    <label for="username">Name</label>
    <input type="text" name="username" required id="username" />

    <label for="image">Image</label>
    <input type="file" name="image" id="image">

    <input type="submit" value="Post Kulich" />
  </form>
</div>
<%- include ("./partials/footer.ejs") %>