<%- include ("./partials/head.ejs") %>

  <h2>Add New Kulich</h2>
  <form action="<%= baseUrl %>" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="username">Name</label>
      <input class="form-control" type="text" name="username" required id="username" />
    </div>

    <div class="mb-3">
      <label for="image">Image</label>
      <input class="form-control" type="file" name="image" id="image">
    </div>

    <input class="btn btn-primary" type="submit" value="Post Kulich" />
  </form>
</div>
<%- include ("./partials/footer.ejs") %>