<%- include("../partials/head.ejs") %>

<div>
  <h2>Log in to post your kulich and rate.</h2>

  <div>
    <% if (messages.success) { %>
      <% for (let msg of messages.success) { %>
        <p>Success</p>
      <% } %>
    <% } %>
    <% if (messages.info) { %>
      <% for (let msg of messages.info) { %>
        <p>Info</p>
      <% } %>
    <% } %>
    <% if (messages.error) { %>
      <% for (let msg of messages.error) { %>
        <p>Error</p>
      <% } %>
    <% } %>
  </div>

  <form action="<%= baseUrl %>/login" method="post">
    <p>
      <label for="username">Name</label>
      <input type="text" name="username" id="username" required />
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
    </p>

    <input type="submit" value="Log in" />

    <p>
      Don't have an account?
      <a href="/users/signup">Sign up</a>
    </p>
  </form>
</div>
<%- include("../partials/footer.ejs") %>