<%- include('../partials/head.ejs') %>
<div class="container">

<div class ="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <div class="col">
    <h2>Lorem ipsum dolor</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quam explicabo quibusdam aliquam quasi, magni ab. Placeat, consequuntur? Nulla, delectus?</p>
  </div>
  <div class="col">
    <h2>Lorem ipsum dolor</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quam explicabo quibusdam aliquam quasi, magni ab. Placeat, consequuntur? Nulla, delectus?</p>
  </div>
  <div class="col">
    <h2>Lorem ipsum dolor</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quam explicabo quibusdam aliquam quasi, magni ab. Placeat, consequuntur? Nulla, delectus?</p>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Fruit</th>
      <th>In Stock</th>
      <th>Ready to Eat?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apple</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Mango</td>
      <td>No</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Banana</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Bacon</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>

<form>
  <div class="form-floating mb-4">
    <input class="form-control" placeholder="Durian" type="text" id="name" />
    <label class="form-label" for="name">Name</label>
  
  </div>
  <label for="color">Color</label>
  <input type="text" id="color" />

<div class="mb-3">
  <label class="form-label" for="image">Image</label>
  <input class="form-label" id="image" type="file" />
</div>

  <input class="btn btn-primary" type="submit" value="Create Fruit" />

</form>
</div>

<%- include('../partials/footer.ejs') %>